<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
   <cors enabled="true" failUnlistedOrigins="true">
		<add origin="*" />
		<add origin="https://*" allowCredentials="true" maxAge="120">
			<allowHeaders allowAllRequestedHeaders="true">
				<add header="header1" />
				<add header="header2" />
			</allowHeaders>
			<allowMethods>
				<add method="GET" />
				<add method="POST" />
				<add method="PUT" />
				<add method="OPTIONS" />
				<add method="DELETE" />
			</allowMethods>
			<exposeHeaders>
				<add header="header1" />
				<add header="header2" />
			</exposeHeaders>
		</add>
		<add origin="http://*" allowed="false" />
	</cors>
	<rewrite>
		<rules>
			<rule name="auto https" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
			</rule>
			<rule name="Imported Rule 1" stopProcessing="true">
				<match url="^(.*)$" ignoreCase="false" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
			</rule>
		</rules>
	</rewrite>
	<security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="300000000" />
		</requestFiltering>
	</security>
</system.webServer>
</configuration>
